#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh $@ --with dkms

override_dh_auto_install:
	
	
git-buildpackage:	
	git-buildpackage --git-upstream-branch=master --git-debian-branch=debian \
		--git-ignore-new --git-force-create
		
git-buildpackage-release:
	git-buildpackage --git-upstream-branch=master --git-debian-branch=debian \
		--git-tag
	make clean
	dh_clean
